@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #dddbde;
    color: #3b373b;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    height: auto;
}

main {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

form {
    background-color: #cad4df;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    column-gap: 15px;
}

#location {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: 10px 15px;
    border: 2px solid #b1afb1;
    border-radius: 5px;
    outline: none;
    transition: border-color .3s ease;
}

#location:hover,
#unit:hover {
    border-color: #3b373b;
}

#location:focus,
#unit:focus {
    border-color: #3b373b;
}

button {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    background-color: #3b373b;
    color: #dddbde;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4f4b4f;
}

button:active {
    background-color: #2f2c2f;
}

.location {
    font-weight: bold;
    background-color: #cad4df;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#unit {
    width: 50px;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: 5px 0;
    border: 2px solid #b1afb1;
    border-radius: 5px;
    outline: none;
    transition: border-color .3s ease;
}

.forecast {
    background-color: #cad4df;
    padding: 15px;
    border-radius: 10px;
}

.forecast > .current {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.current > header {
    padding-bottom: 5px;
    border-bottom: 1px solid #b1afb1;
    display: flex;
    justify-content: space-between;
}

.current-details {
    line-height: 1;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.current-details > div {
    display: flex;
    column-gap: 15px;
}

.current-details .icon {
    width: 64px;
    height: 64px;
}

.current-details .temperature {
    display: flex;
}

.temperature > .current-temperature {
    font-family: 'Dosis', sans-serif;
    font-size: 64px;
    font-weight: bold;
}

.temperature > .unit {
    margin: 7px 15px 0 5px;
}

.temperature > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.temperature .condition {
    font-weight: bold;
}

.current-details .more {
    display: flex;
}

.more span {
    font-size: 14px;
}

.more > .first-column,
.more > .second-column {
    width: 50%;
}

.first-column > div,
.second-column > div {
    display: flex;
    justify-content: space-between;
}

.first-column > div + div,
.second-column > div + div {
    margin-top: 15px;
}

.first-column span:first-child,
.second-column span:first-child {
    font-weight: bold;
}

.first-column > .wind .direction,
.second-column > .uv-index .level {
    font-weight: normal;
}